html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.form {
  width: fit-content;
  margin: 0 auto;
}

.favorites {
  width: fit-content;
  margin: 5% auto 0;
  text-align: center;
}

.favorites button {
  margin: 0 5%;
  padding: 5%;
}
